@font-face {
    font-family: 'Pacifico';
    src: url('assets/Pacifico-Regular.ttf');
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Pacifico', 'Segoe UI', 'Frutiger', 'Dejavu Sans',
        'Helvetica Neue', 'Arial', sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 2px #ffafa8;
    background-color: #dca8ff;
}

h1 {
    margin: 0;
    padding: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 100;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin: 0;
    padding: 10px;
    padding-bottom: 0;
    font-size: 16px;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.iconText {
    display: flex;
    align-items: center;
}

#save {
    background-color: #ffb5ed;
    border: solid 1px;
    border-color: #e899ad;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 8px 25px;
    align-self: center;
    font-family: 'Pacifico', 'Segoe UI', 'Frutiger', 'Dejavu Sans',
        'Helvetica Neue', 'Arial', sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 2px #ffafa8;
}

#save:hover {
    background-color: #f2ace1;
}

#save:active {
    background-color: #e6a3d5;
}

img {
    filter: invert(100%);
}
