body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', 'Frutiger', 'Dejavu Sans', 'Helvetica Neue',
        'Arial', sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 2px #ffafa8;
    background-color: #dca8ff;
}

h1 {
    font-family: sans-serif;
    margin: 0;
    padding: 10px;
    padding-bottom: 5px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin: 0;
    padding: 10px;
    padding-bottom: 0;
    font-size: 16px;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#save {
    background-color: #ffb5ed;
    border: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 8px 25px;
    align-self: center;
    font-family: 'Segoe UI', 'Frutiger', 'Dejavu Sans', 'Helvetica Neue',
        'Arial', sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 2px #ffafa8;
}

#save:active {
    background-color: #dd99e8;
}
